.App {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.app-title {
  display: flex;
  width: 75%;
}

.navBar {
  width: 50%;
  display: flex;
  background-color: blueviolet;
}